html {
  font-size: 18px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #343a40;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

.positive {
  color: #1d1dc8;
}

.negative {
  color: red;
}
